body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--brand-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --brand-color: #212121;
    --popular-color: #757575;
    --white-color: #ffffff;
    --blue-color: #2196F3;
    --background-gray: #2F303A;
    --background-blue: #188CE8;
    --background-blue-owerlay: rgba(33, 150, 243, 0.9);
    --black-color: #000000;
    --gray: #F5F4FA;
    --fill-icon: #AFB1B8;
    --border-color: #ECECEC;
    --border-light: #EEEEEE;
    --ligt-gray: rgba(255, 255, 255, 0.6);
    --dark-gray: rgba(255, 255, 255, 0.3);
    --gray-light: rgba(255, 255, 255, 0.1);
    --text-gray: rgba(117, 117, 117, 0.5);
    --work-text: rgba(47, 48, 58, 0.8);
    --hero-background: rgba(47, 48, 58, 0.4);
    --border-dark: rgba(33, 33, 33, 0.2);
    --light-black :rgba(0, 0, 0, 0.2);
    --lightest-black: rgba(0, 0, 0, 0.1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hover-color:hover,
.hover-color:focus {
    color: var(--blue-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location {
    display: flex;
    align-items: center;
 }
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }

.header {
    border-bottom: 1px solid var(--border-color);
 }
 .muve {
    justify-content: space-between;
 }
 a.currentlink {
    color: var(--blue-color);
    transition: color 250ms linear;
 }
 .currentlink::after {
     position: absolute;
     left: 0;
     bottom: 0;
     content: "";
     width: 100%;
     height: 4px;
     background-color: var(--blue-color);
     border-radius: 2px;
 }
.logotype-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    color: var(--blue-color);
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
    letter-spacing: 0.03em;
}
.logotype-span-black {
    color: var(--black-color);
}
.header-item {
    position: relative;
    margin-right: 50px;
}
.nav-link {
    display: inline-block;
    font-weight: 500;
    color: var(--brand-color);
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    transition: color 250ms linear;
}
.header-email,
.header-tel {
    display: flex;
    font-weight: 500;
    color: var(--popular-color);
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    letter-spacing: 0.02em;
    transition: color 250ms linear;
}
.header-mail-icon {
    fill: var(--fill-icon);
    margin-right: 10px;
    transition: color 250ms linear;
}
.header-email:focus .header-mail-icon,
.header-email:hover .header-mail-icon {
    fill: var(--blue-color);
    transition: fill 250ms linear;
}
.header-tel-icon {
    fill: var(--fill-icon);
    margin-right: 10px;
    transition: color 250ms linear;
}
.header-tel:focus .header-tel-icon,
.header-tel:hover .header-tel-icon {
    fill: var(--blue-color);
    transition: fill 250ms linear;
}

.hero {
    height: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right,
     var(--hero-background),
     var(--hero-background)
    ), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 0 0 30px 0;
    letter-spacing: 0.06em;
}
.hero-btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: none;
    padding: 10px 32px;
    color: var(--white-color);
    background: var(--blue-color);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-item {
    width: 270px;
    margin-right: 30px; 
}
.features-item:last-child {
    margin-right: 0;
}
.features-icon-wrapper {
    background: var(--gray);
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-item-title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-item-content {
    margin-top: 10px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--popular-color);
}

.work {
    text-align: center;
    padding-bottom: 94px;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.work-list {
    display: flex;
    justify-content: space-between;
}
.work-img-wrapper {
    position: relative;
}
.work-img {
    display: block;
}
.work-img-text {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 20px;
    padding: 27px 0 27px;
    background: var(--work-text);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.team {
    background: var(--gray);
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.team-item {
    background-color: var(--white-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.team-wrapper {
    margin: 30px 32px;
}
.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}
.team-item-content {
    font-size: 16px;
    line-height: 19px;
    color: var(--popular-color);
    letter-spacing: 0.03em;
}
.team-list-icon-wrapper {
    padding-top: 16px;
}
.team-list-icon {
    display: flex;
    justify-content: space-between;
}
.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fill-icon);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
}
.team-icon-link:focus,
.team-icon-link:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    display: block;
    fill: currentColor;
}

.client {
    padding: 94px 0 94px 0;
    text-align: center;
}
.client-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.client-item {
    margin-right: 30px;
}
.client-item:last-child {
    margin-right: 0;
}
.client-icon {
    fill: currentColor;
}
.client-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--fill-icon);
    border-radius: 4px;
    color: var(--fill-icon);
}
.client-icon-link:focus,
.client-icon-link:hover {
    border-color: var(--blue-color);
    color: var(--blue-color);
    transition: color 250ms linear, border-color 250ms linear;
}

.footer {
    background: var(--background-gray);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
}
.footer-logotype-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
    color: var(--blue-color);
    letter-spacing: 0.03em;
}
.logotype-span-white {
    color: var(--white-color);
}
.footer-address {
    margin-top: 20px;
}
.footer-location {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-link, .footer-tel {
    margin-top: 9px;
}
.footer-item {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--ligt-gray);
}
.footer-icon-wrapper {
    margin-top: 12px;
    margin-left: 70px;
}
.footer-icon-title {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-icon-link {
    background: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--white-color);
    transition: backgound 250ms linear;
}
.footer-icon-link:focus,
.footer-icon-link:hover {
    background-color: var(--blue-color);
    transition: background-color 250ms linear;
}
.footer-icon-item {
    margin-right: 10px;
}
.footer-icon-item:last-child {
    margin-right: 0;
}
.footer-subscription {
    margin-top: 9px;
    margin-left: 94px;
}
.form-subscription {
    margin-top: 20px;
}
.footer-subscription-title {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.form-subscription input {
    cursor: pointer;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--ligt-gray);
    background-color: var(--background-gray);
    width: 358px;
    border: 1px solid var(--dark-gray);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.subscription-btn {
    cursor: pointer;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 12px 28px;
    margin-left: 12px;
    background-color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.footer-subscription-icon {
    margin-left: 10px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-black);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 448px;
    height: 501px;
    padding: 40px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.form-data {
    text-align: center;
}
.form-data-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 12px;
}
.data-label {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--popular-color);
}
.data-input-wrapper {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}
.form-data input {
    width: 100%;
    cursor: pointer;
    padding-left: 42px;
    line-height: 40px;
    border: 1px solid var(--border-dark);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-data input:focus,
.form-data input:hover {
    border: 1px solid var(--blue-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-data input:focus + .data-input-icon,
.form-data input:hover + .data-input-icon {
    fill: var(--blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-input-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    fill: var(--brand-color);
    transform: translateY(-50%);
}
.data-textarea-wrapper {
    margin-top: 4px;
    margin-bottom: 20px;
}
.data-textarea:focus,
.data-textarea:hover {
    border: 1px solid var(--blue-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-textarea {
    cursor: pointer;
    resize: none;
    width: 100%;
    height: 96px;
    padding: 12px 16px;
    border: 1px solid var(--border-dark);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-textarea-wrapper textarea::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--text-gray);
}
.data-condition-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.data-condition-wrapper input[type='checkbox'] {
    opacity: 0;
    width: 16px;
    height: 15px;
}
.data-condition-wrapper input:checked + .data-condition-icon {
    opacity: 1;
}
.data-condition-wrapper input:checked ~ .data-condition-border {
    opacity: 0;
}
.data-condition-label {
    display: flex;
    align-items: center;
}
.data-condition-span {
    position: relative;
}
.data-condition-icon {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--white-color);
    background-color: var(--blue-color);
}
.data-condition-border {
    border: 1px solid var(--black-color);
    width: 14px;
    height: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.data-condition-border:focus,
.data-condition-border:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-condition-text {
    margin-left: 9px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--popular-color);
}
.data-condition {
    margin-left: 3px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: underline;
}
.data-btn {
    cursor: pointer;
    padding: 10px 55px;
    background: var(--background-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}
.backdrop-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--white-color);
    border: 1px solid var(--lightest-black);
    box-sizing: border-box;
    cursor: pointer;
}
.backdrop-btn-icon {
    fill: var(--black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn:focus .backdrop-btn-icon,
.backdrop-btn:hover .backdrop-btn-icon {
    fill: var(--blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}
.project-filter {
    justify-content: center;
}
.filter-item {
    margin-right: 8px;
}
.filter-btn {
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--brand-color);
    background-color: var(--gray);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    transition: color 250ms linear, background-color 250ms linear;
}
.filter-btn:hover, .filter-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color 250ms linear, background-color 250ms linear, box-shadow 250ms linear;
}
.project-list {
    flex-flow: row wrap;
    margin-top: 50px;
}
.project-item img {
    display: block;
}
.project-item:nth-child(2), 
.project-item:nth-child(5),
.project-item:nth-child(8) {
    margin-left: 30px;
    margin-right: 30px;
}
.project-item:nth-child(4), 
.project-item:nth-child(5),
.project-item:nth-child(6) {
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-item-link {
    display: block;
}
.project-item-link:focus,
.project-item-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms linear;
}
.project-item-link:focus .project-overlay,
.project-item-link:hover .project-overlay {
    opacity: 0.9;
    top: 0;
    left: 0;
    transition: top 250ms linear 0s;
}
.project-img-thumb {
    position: relative;
    overflow: hidden;
}
.project-overlay {
    position: absolute;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background: var(--background-blue-owerlay);
    top: 100%;
    left: 0;
    transition: top 250ms linear 0.1s;
    pointer-events: none;
}
.project-overlay-text {
    display: block;
    margin: 0 24px 0;
}
.project-wrapper {
    padding: 20px 24px;
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
}
.project-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}
.project-item-content {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--popular-color);
}
